<form *ngIf="!isAdvSearch" #simpleForm="ngForm" (ngSubmit)="search({'title':filmTitle})" >
    <div class="row">
        <div class="col-12 col-sm-9 col-md-10">
            <mat-form-field class="full-width">
                <mat-label>Title</mat-label>
                <input matInput required name="title" [(ngModel)]="filmTitle" autocomplete="off" #simpleFormTitle="ngModel">
                <mat-error *ngIf="simpleFormTitle.invalid && simpleFormTitle.touched">Please enter the title</mat-error>
            </mat-form-field>
        </div>
        <div class="col-12 col-sm-3 col-md-2 text-center">
            <button type="submit" mat-raised-button class="full-width" color="primary" [disabled]="simpleForm.form.invalid">Search</button>
            <strong><a href="javascript:void(0)" class="adv-search" (click)="advSearch()">Advanced Search</a></strong>
        </div>
    </div>
</form>

<form [formGroup]="searchTitle" (ngSubmit)="search(searchTitle.value)" *ngIf="isAdvSearch">
    <div class="row">
        <div class="col-12 col-sm-2 col-md-2 movie-form-field">
            <mat-form-field class="full-width">
                <mat-label>Type</mat-label>
                <mat-select formControlName="type">
                    <mat-option *ngFor="let type of searchType" [value]="type.key">
                      {{type.value}}
                    </mat-option>
                  </mat-select>
            </mat-form-field>
        </div>
        <div class="col-12 col-sm-6 col-md-5 movie-form-field">
            <mat-form-field class="full-width">
                <mat-label>Title</mat-label>
                <input type="text" matInput required autocomplete="off" formControlName="title">
                <mat-error *ngIf="searchTitle.get('title').hasError('required')">Please enter the title</mat-error>
            </mat-form-field>
        </div>
        <div class="col-12 col-sm-4 col-md-3 movie-form-field">
            <mat-form-field class="full-width">
                <mat-label>Year</mat-label>
                <input type="number" matInput autocomplete="off" formControlName="year">
                <mat-error *ngIf="searchTitle.get('year').hasError('max')">Maximum Year can be 3000</mat-error>
            </mat-form-field>
        </div>
        <div class="col-12 col-sm-6 offset-sm-3 col-md-2 offset-md-0 text-center">
            <button type="submit" mat-raised-button class="full-width" color="primary" [disabled]="searchTitle.invalid">Search</button>
            <strong><a href="javascript:void(0)" class="adv-search" (click)="advSearch()">Simple Search</a></strong>
        </div>
    </div>
</form>